upstream backend {
    # hello is the internal DNS name used by the backend Service inside Kubernetes
    server anfisa-backend;
}

server {
    listen 80;

    location /app {
        include uwsgi_params;
        uwsgi_read_timeout 3000;
        uwsgi_buffering off;
        uwsgi_pass anfisa-backend:80;
    }

    location ~ /app/ui/images {
        #rewrite ^/app/ui/images/(.*)$ /$1 break;
        proxy_pass anfisa-backend:80/anfisa/app/ui/images;
        #root /opt/forome/anfisa.demov6/int_ui/images;
    }

    location ~ /app/ui {
        #rewrite ^/app/ui/(.*)$ /$1 break;
        proxy_pass anfisa-backend:80/anfisa/app/ui;
        #root /opt/forome/anfisa.demov6/ui;
    }

    location / {
        client_max_body_size 100M;
        proxy_buffering off;
        proxy_read_timeout 3000;
        root /usr/share/nginx/html/Anfisa/;
        try_files $uri $uri/ /index.html;
    }
    
    location / {
        # The following statement will proxy traffic to the upstream named Backend
        proxy_pass https://anfisa-test-test.asset-forome-dev-162fa491ef10b14d22843708d94ef0ba-0000.us-south.containers.appdomain.cloud;
    }
}
